/* -------------------------------------------------------------------------- */
/*                                  3일차 해야할것                              */
/* -------------------------------------------------------------------------- */

/*
A ~ Z
0. 요구사항분석
1. 변수추출
2. 이미지 저장
3. HTML
4. CSS
5. JS
  - 데이터바인딩
  - Interaction
6. 호환성체크
7. 접근성체크
8. 개발팀
*/

/* 변수정의 */
:root {
  /* 전역변수 */
  /* font-family color */
  /* 변수명 디자인 시스템... */
  --fontBlack: #000;
  --borderBlack: #000;
  --bgBlack: #000;
  --eng: "Nunito Sans", sans-serif;
}

/* CSS Nesting */
/* 고정값 px, rem */
html {
  font-size: 62.5%;
  /* 100% = 16px */
}
body {
  font-size: 1rem;
}
/* Normalize */
* {
  font-family: "Noto Sans KR", sans-serif;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* header */
.header {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  gap: 5rem;
  position: absolute;
  inset: 0 0 auto 0;
  z-index: 1000;
  height: 9rem;
  margin-inline: 7rem;
  border-bottom: 1px solid var(--borderBlack);
  @media (width < 1024px) {
    grid-template-columns: min-content 1fr;
    height: 5rem;
    margin-inline: 0.8rem;
  }
}
.utillity {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  @media (width < 1024px) {
    justify-self: end;
    gap: 1rem;
  }
}

/* 메뉴 */
.gnb {
  ul {
    display: flex;
    gap: 4.8rem;
  }
  a {
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.6rem;
    letter-spacing: 0.11rem;
    color: var(--fontBlack);
    text-decoration: none;
    text-transform: uppercase;
  }
  @media (width < 1024px) {
    display: none;
  }
}

.btn-search {
  display: inline-flex;
  align-items: center;
  gap: 0.722rem;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.498rem;
  letter-spacing: 0.11rem;
  color: var(--fontBlack);
  text-transform: uppercase;
  &::after {
    content: "";
    width: 1.2rem;
    height: 1.177rem;
    background: url(../images/ico_search.svg) no-repeat;
  }
  @media (width < 1024px) {
    span {
      overflow: hidden;
      position: absolute;
      width: 1px;
      height: 1px;
      clip: rect(1px, 1px, 1px, 1px);
    }
  }
}
.btn-cart {
  display: inline-flex;
  align-items: center;
  gap: 1.016rem;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.498rem;
  letter-spacing: 0.11rem;
  color: var(--fontBlack);
  text-transform: uppercase;
  span {
    display: inline-flex;
    align-items: center;
    gap: 0.55rem;
    &::before {
      content: "";
      width: 1.4rem;
      height: 1.6rem;
      background: url(../images/ico_cart.svg) no-repeat;
    }
  }
  @media (width < 1024px) {
    display: none;
  }
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.btn-wishlist {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--fontBlack);
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2.2rem;
  letter-spacing: 0.11rem;
  &::before {
    content: "";
    width: 1.3rem;
    height: 1.6rem;
    background: url(../images/ico_wishlist.svg) no-repeat;
  }
  @media (width < 1024px) {
    display: none;
  }
}

.btn-mypage {
  width: 1.5rem;
  height: 1.6rem;
  background: url(../images/ico_mypage.svg) no-repeat;
}

.btn-prev {
  position: absolute;
  left: 7.06rem;
  top: 50%;
  width: 1.5063rem;
  height: 2.875rem;
  background: url(../images/ico_prev.svg) no-repeat;
}
.btn-next {
  width: 1.5063rem;
  height: 2.875rem;
  background: url(../images/ico_next.svg) no-repeat;
}
.btn-shop {
  display: inline-flex;
  padding: 1.2rem 5.6359rem 1.2rem 5rem;
  color: var(--fontBlack);
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.7004rem;
  letter-spacing: 0.12rem;
  text-decoration: none;
  border: 1px solid var(--borderBlack);
}

.slide {
  position: relative;
  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

.slide__title {
  color: var(--fontBlack);
  font-size: 5rem;
  font-weight: 400;
  line-height: 6.1rem;
  margin-bottom: 0.6rem;
}

.slide__description {
  color: var(--fontBlack);
  font-family: var(--eng);
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 3.8rem;
}

.slide__information {
  position: absolute;
  left: 13.72rem;
  bottom: 16.56rem;
}
